<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Karyotyper/src/targetGetter/TestShape.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="targetGetter.TestShape"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\Users\Robert\Desktop\SchoolWork\CSC492\repo\project\Karyotyper"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Karyotyper"/>
</launchConfiguration>
